@model List<DanielCordova_GitHubDashboard.Models.GitHubEvent>
@{
    ViewBag.Title = "GitHub Public Events Dashboard";
}
@*<script type="text/javascript">
    $(document).ready(function () {
        $("#details").accordion();
    });
</script>*@

<div class="jumbotron" style="padding:2% !important">
   <button onclick="location.href='@Url.Action("Index", "Dashboard")'; return false;">Refresh feed</button>
    @{int i = 1;}
    @foreach(var gitHubEvent in Model)
    {
        <div style="border:solid 1px black">
            <div>@gitHubEvent.EventActor.DisplayLoginName</div>
            <div>@gitHubEvent.EventType</div>
            <div>@gitHubEvent.EventRepository.RepositoryUrl</div>
            @*<a href="#" onclick="toggleDisplay('details');">Show Additional Details</a>*@
            <button type="button" class="btn" data-toggle="collapse" data-target="#details@(i)">Show Additional Details</button>
            <div id="details@(i)" class="collapse">
                <ul>
                    <li style="list-style:none">@gitHubEvent.EventId</li>
                    <li style="list-style:none">@gitHubEvent.IsPublic</li>
                    <li style="list-style:none">@gitHubEvent.CreatedDate</li>
                </ul>
            </div>
        </div>
        i++;
    }
</div>