@model List<DanielCordova_GitHubDashboard.Models.GitHubEvent>
@{
    ViewBag.Title = "GitHub Public Events Dashboard";
}

<div class="jumbotron">
    @foreach(var gitHubEvent in Model)
    {
        <div style="border:solid 1px black">
            <div>@gitHubEvent.EventActor.DisplayLoginName</div>
            <div>@gitHubEvent.EventType</div>
            <div>@gitHubEvent.EventRepository.RepositoryUrl</div>
            @*<div>@gitHubEvent.IsPublic</div>
            <div>@gitHubEvent.CreatedDate</div>*@
        </div> 
    }
</div>